PORT=8000
MONGODB_URL=mongodb+srv://vasaniyash9646:your-password@cluster0.oouvdkl.mongodb.net
CORS_ORIGIN=*
PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=yash-devloapment
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=yash-backend
REFRESH_TOKEN_EXPIRY=10d
MONGODB_URL=mongodb+srv://yash7777_db_user:Yash12345678@cluster0.oouvdkl.mongodb.net

CLOUDINARY_CLOUD_NAME 
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=